asgiref==3.2.3
attrs==19.3.0
autobahn==19.11.1
Automat==0.8.0
cffi==1.12.3
channels==2.3.1
constantly==15.1.0
cryptography==2.8
daphne==2.4.0
Django==2.2.3
django-appconf==1.0.3
django-betterforms==1.2
django-bootstrap-datepicker-plus==3.0.5
django-crispy-forms==1.7.2
django-debug-toolbar==2.0
django-environ==0.4.5
django-extensions==2.2.3
django-filter==2.2.0
django-fsm==2.6.1
django-fsm-admin==1.2.4
django-fsm-log==1.6.2
django-polymorphic==2.1.2
django-tables2==2.1.0
django-tables2-bootstrap4==2.0.0b5
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
psycopg2==2.8.3
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
pygit2==0.28.2
Pygments==2.4.2
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
PyQt5==5.13.0
PyQt5-sip==4.19.18
python-engineio==3.10.0
python-socketio==4.4.0
pytz==2019.1
PyYAML==5.1.2
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
sqlparse==0.3.0
Twisted==19.10.0
txaio==18.8.1
urllib3==1.25.3
zope.interface==4.7.1
