{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load getattribute %}
{% load verbose_names %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="card mb-5">
            <div class="card-header">
                BOB handeling detail (ID: #{{ object.pk }})
                <a href="{% url 'portal:portal-list' %}" class="btn btn-primary btn-sm float-right btn-politie" role="button">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    Werkvoorraad
                </a>
            </div>
            <div class="card-body">

                {% if messsages %}
                    {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message.tags }} - {{ message }}
                    </div>
                    {% endfor %}
                {% endif  %}
                {% for field in fields %}
                <div class="row">
                    <div class="col-sm-4">
                        <strong>{{ field.label }}:</strong>
                    </div>
                    <div class="col">
                        {{ field.value|default_if_none:"" }}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if form %}
                <div class="card-footer">
                    <div class="d-flex">
                        <a href="{% url 'portal:portal-edit' object.pk %}" class="btn btn-primary mr-auto">Aanpassen <i class="fa fa-pencil"></i></a>
                        <a href="{% url 'portal:portal-delete' object.pk %}" class="btn btn-danger">Verwijderen <i class="fa fa-trash-o"></i></a>
                    </div>

                </div>
            {% endif %}
        </div>

        <div class="card mb-5">
            <div class="card-body">
                {% include 'portal/accordion.html' %}
            </div>
        </div>

    </div>

{% endblock %}
