{% load crispy_forms_tags %}

{% for fieldset in form.fieldsets %}
    <fieldset class="fieldset-{{ forloop.counter }} {{ fieldset.classes }}">
        {% if fieldset.legend %}
            <legend>{{ fieldset.legend }}</legend>
        {% endif %}

        {% if fieldset.description %}
            <p class="description">{{ fieldset.description }}</p>
        {% endif %}

        <div class="form-row">
        {% for field in fieldset %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <div class="col-sm-6">
                {{ field|as_crispy_field }}
                {% comment %}{% include "bootstrap/field.html" %} {% endcomment %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    {% if not forloop.last or not fieldset_open %}
        </fieldset>
    {% endif %}
{% endfor %}