            {% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

  <div class="mt-2">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
       </nav>
       <h1 class="mt-4">Welkom verbalisant!</h1>
       <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
  </div>

{% endblock %}

