{% extends "home.html" %}

{% load crispy_forms_tags %}

{% block dashboard_content %}
    <div class="container-fluid mt-3">
    <div class="card" style="width:38rem;">
        <div class="card-header">
            BOB handeling detail
            <a href="{% url 'bob:bob-index' %}" class="btn btn-primary btn-sm float-right" role="button">
                <i class="fa fa-list" aria-hidden="true"></i>
                Werkvoorraad
            </a>
        </div>
        <div class="card-body">


      </div>
    </div>

    </div>


{% endblock %}