{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid mt-3">
    <div class="card" >
        <div class="card-header">
            BOB handeling delete (ID: #{{ object.id }})
            <a href="{% url 'bob:bob-index' %}" class="btn btn-primary btn-sm float-right" role="button">
                <i class="fa fa-list" aria-hidden="true"></i>
                Werkvoorraad
            </a>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="alert alert-warning">Bevestig uw verwijder actie van het object "{{ object }}" AUB.</div>
                <small class="float-sm-right">
                    <a href="{% url 'bob:bob-index' %}" class="btn btn-secondary">Annuleren <i class="fa fa-times"></i></a>

                    <button type="submit" class="btn btn-danger">Ja <i class="fa fa-check" aria-hidden="true"></i> </button>
                </small>


            </form>

        </div>
    </div>
    </div>

{% endblock %}

