{% comment %}{{ object }} {% endcomment %}
<div class="card mb-3 pv-verb-wrapper">
        <div class="card-body">
            <div class="d-flex border-bottom mb-2">
                <h5 class="card-title mr-auto">{{ field.label }}</h5>
                <span><i class="fa fa-plus-square-o btn-verb-add" aria-hidden="true" data-url="{% url 'portal:verbalisant-create' %}"></i></span>
            </div>
            <div class="card-text pv-verb-container mb-2">
                {% for verb in field %}
                    {% include "resources/verbalisant_part.html" with obj=verb index=forloop.counter %}
                {% empty %}
                    {% include "resources/verbalisant_part.html" with obj=verb index=1 %}
                {% endfor %}
            </div>
            <div class="d-flex border-top mb-2">
                <span class="ml-auto"><i class="fa fa-plus-square-o btn-verb-add" aria-hidden="true" data-url="{% url 'portal:verbalisant-create' %}"></i></span>
            </div>
        </div>
</div>

<input type="hidden" name="verbalisant_total" id="id_verbalisant_total" value="1">

